Repository citeproc-py/citeproc-py, pull requests merged in 2025-03, with the labels that each got.

#154 Convert CHANGES.rst to markdown CHANGES.md
  CHANGES.md
  CONTRIBUTING.md
  MANIFEST.in
  README.md
  README.rst
  setup.py
Labels: documentation

#153 Set up `auto` to automate releases
  .autorc
  .github/workflows/release.yml
  CONTRIBUTING.md
Labels: release, internal

#157 release: switch to using GitHub App to overcome branch protection
  .github/workflows/release.yml
Labels: release, internal

#158 release: use GitHUb App token for checkout and push
  .github/workflows/release.yml
Labels: minor, release

#159 release: checkout with submodules
  .github/workflows/release.yml
Labels: release, internal

#162 Explicitly specify utf-8 encoding while reading top level .md files for description
  setup.py
Labels: release, internal

#163 coveralls: try to reenable
  .github/workflows/test.yml
  tox.ini
Labels: internal
